*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  line-height: 1;
  //   font-family: 'Circular Std', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1176px;
  padding: 0 15px;
  margin: 0 auto;
}

.blue-btn {
  background: #3a68b8;
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  height: 57px;
  color: #ffffff;
}

.title {
  font-weight: 700;
  font-size: 40px;
}

.text {
  opacity: 0.7;
  max-width: 460px;
}

.header__content-sidebar-right {
  width: 100%;
  max-width: 632px;
}

.header {
  background: #09111e;
  // position: relative;

  &__top {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a121f;
    padding-top: 21px;
  }

  &__top-logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  // &__menu {
  //   position: relative;
  // }
  .menu-icon {
    display: none;
    position: relative;
  }
  &__menu-items {
    display: flex;
    text-align: center;
    gap: 40px;
    margin: 0 15px;
    // position: relative;
  }

  &__menu-item {
    // position: relative;
    font-size: 16px;
    line-height: 22px;
  }

  &__btn {
    font-size: 16px;
    width: 112px;
    height: 52px;
    // position: relative;
  }

  &__content {
    display: flex;
    margin-top: 49px;
  }
  &__content-sidebar {
    margin-top: 110px;
    margin-right: 114px;
  }
  .sidebar-link {
    text-transform: uppercase;
    color: #3a68b8;
    font-size: 18px;
  }

  &__content-title {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 800;
    max-width: 604px;
  }

  &wrapper__slider-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    max-width: 558px;
    opacity: 0.7;
    margin-bottom: 50px;
  }

  &__content-sidebar-right {
    margin-right: -200px;
  }

  &__content-btns {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__content-btn {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    gap: 10px;
  }

  &__botom-logos {
    padding: 120px 0;
  }
}

.wrap {
  background-color: #020a18;
  padding-top: 130px;

  &__content {
    display: flex;
  }
  &-img {
    margin-left: -130px;
  }

  &__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 68px;
  }
  &__content-title {
    margin-bottom: 30px;
  }

  &__content-text {
    margin-bottom: 50px;
  }

  &__slider {
    display: flex;
    gap: 30px;
  }

  &__slider-item {
    background-color: #0a1321;
    border-radius: 10px;
    width: 362px;
    margin-top: 170px;
    margin-bottom: 50px;
    padding: 30px;
  }

  .first-icon {
    margin: 35px 0;
    margin-bottom: 0;
  }
  &__icon {
    text-align: center;
    margin-bottom: 30px;
  }
  &__about {
    text-align: center;
    opacity: 0.7;
  }
  &__about-title {
    font-weight: 700;
    font-size: 25px;
    max-width: 302px;
    margin-bottom: 30px;
  }

  &__about-text {
    font-size: 16px;
  }
}

.feedback {
  background-color: #020a18;

  &__content {
    display: flex;
    padding: 170px 0;
  }

  &__content-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__content-title {
    font-weight: 700;
    font-size: 40px;
    max-width: 548px;
    margin-right: -45px;
    margin-bottom: 40px;
  }
  .text {
    margin-bottom: 20px;
  }
}

.footer {
  background-color: #0a121f;

  &__inner {
    display: flex;
    padding-bottom: 120px;
  }

  &__first-column {
    margin-top: 77px;
    width: 285px;
  }

  &__column-text {
    font-weight: 450;
    font-size: 14px;
    max-width: 261px;
    opacity: 0.6;
    margin-top: 10px;
    margin-bottom: 37px;
  }

  &__column-contact-list {
    padding: 0;
    margin: 0;
  }

  &__contact-item {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  &__contact-icon {
    margin-right: 10px;
  }

  &__column {
    width: 164px;
    padding-top: 100px;
    margin-right: 30px;
  }

  &__column-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  &__column-item {
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
    margin-bottom: 20px;
  }

  .last-column {
    width: 261px;
  }

  &__column-link {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 21px;
  }

  &__social-list {
    display: flex;
    gap: 25px;
    opacity: 0.6;
    margin-bottom: 50px;
  }

  &__social-language {
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
  }

  &__social-item {
    margin-right: 8px;
  }
}

@media (max-width: 860px) {
  .logo-robot {
    display: block;
    margin: 0 auto;
  }
  .logo-text {
    display: none;
  }
}

@media (max-width: 665px) {
  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 198px;
    cursor: pointer;
  }
  .menu-icon span,
  .menu-icon::before,
  .menu-icon::after {
    left: 0;
    position: absolute;
    height: 10px;
    width: 100%;
    transition: all 0.3 ease 0s;
    background-color: #fff;
  }

  .menu-icon::before,
  .menu-icon::after {
    content: "";
  }

  .menu-icon::before {
    top: 0;
  }

  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    transform: translate(0px, -50%);
  }

  .header__menu-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.599);
    transition: left 0.3s ease 0s;
    padding: 100px;
  }
}
