*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background: rgba(27, 22, 43, 0.2) -41.9%;
  //   font-family: 'Circular Std', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

// .header {
//   background: rgba(27, 22, 43, 0.2) -41.9%;
// }
